.login-container,
.registration-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  max-width: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.registration-container {
  max-width: 100%;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.label-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 24px;
  align-items: end;
}

.second-row label {
  max-width: 260px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  position: relative;
}

.label p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.input-login {
  padding: 10px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid var(--border-light);
  width: 100%;
  height: 46px;
  font-size: 16px;
}

.input-login.error,
.input-login.error:focus {
  border: 2px solid red;
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  display: none;
}

.login-button {
  width: 200px;
  height: 44px;
  border: 1px solid var(--border-dark);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.login-button:hover:enabled {
  background-color: var(--border-dark);
  color: white;
}

.login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.form-error {
  color: red;
  margin-top: 16px;
  font-size: 15px;
  display: none;
}

.payment-by-container{
  display: flex;
  justify-items: end;
  align-items: start;
  flex-direction: column;
  justify-self: end;
 height: 100%;
}

.radio-container {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}


.radio-container div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.about-h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0;
  margin-bottom: 20px;
  color: var(--text-dark);
  text-align: center;
}

@media (max-width: 768px) {
  .label-row {
    flex-direction: column;
  }

  .second-row label {
    max-width: 100%;
  }
}

@media (max-width: 380px) {
  body {
    padding: 0 16px;
  }

  .about-h1 {
    font-size: 32px;
  }

  .login-container,
  .registration-container {
    gap: 20px;
  }

  .label-row {
    gap: 16px;
  }
}
