header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-body);
  padding: 20px 0;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: var(--text-dark);
  font-family: "Inter", sans-serif;
  font-weight: 600 !important;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.nav-links a.selectedmenu::after {
  width: 100%;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--text-dark);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links a.selectednav::after {
  width: 100%;
}

.nav-links a {
  position: relative;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s;
}

.menu-right-hand {
  display: flex;
  gap: 30px;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu {
  width: 20px;
  height: 20px;
}

.burger-menu {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.center-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
  }

  .center-links {
    display: flex;
  }

  .menu {
    width: 30px;
    height: 30px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  .nav-links {
    position: fixed;
    top: 100px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: var(--background-body, #fff);
    flex-direction: column;
    padding: 60px 0;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
    z-index: 10000;
    justify-content: flex-start;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .nav-links.mobile-active {
    transform: translateX(0);
  }

  .nav-links.mobile-active .center-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .center-links {
    justify-content: start;
    flex: none;
  }

  .nav-links.mobile-active a {
    color: var(--text-dark, #000);
    text-decoration: none;
    text-align: center;
    padding: 10px;
  }

  .menu-container {
    margin-top: 20px;
  }
  .menu-container .menu {
    width: 16px !important;
    height: 16px !important;
  }
}

@media (hover: hover) and (pointer: fine) {
  .nav-links a:hover::after {
    width: 100%;
  }
}
