.dots-container{
    text-align: center
}
.hero {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: auto;
}

.hero-img {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10%;
  width: 100%;
  height: auto;
  min-height: 644px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-content {
  width: 33rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--text-light);
  position: relative;
  z-index: 1;
  top: 50%;
}

.section-h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  margin-bottom: 20px;
}

.section-h1 .accent {
  color: var(--text-accent);
  font-style: italic;
}

.hero-content p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.hero-button {
  margin-top: 30px;
  position: relative;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: none;
  background-color: var(--background-body);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.hero-button .icon {
  display: none;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .hero-content {
    width: 90%;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .burger-menu {
    display: block;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 380px) {
  body {
    padding: 0 16px;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-content .section-h1 {
    font-size: 4rem;
  }
}