footer {
  display: flex;
  justify-content: space-between;
  padding: 6% 12%;
  border-radius: 40px;
  background-color: var(--background-container);
  margin: 60px 0;
  color: #fff;
  text-align: center;
}

footer .col1 div {
  gap: 10px;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.col1 svg {
  min-width: 60px;
  min-height: 60px;
}

.col1 div {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
}

.col2 h1 {
  margin-bottom: 5px;
}

.col2 div {
  display: flex;
  gap: 10px;
}

.col2div {
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
}

.col2div img {
  max-width: 25px;
  max-height: 25px;
}

.footer-h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0;
  margin-bottom: 20px;
  color: var(--text-light);
  text-align: start;
}

.footer2-h1 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0;
  margin-bottom: 20px;
  color: var(--text-accent);
  text-align: start;
}

.footer-h1 span {
  display: none;
}

.soical {
  display: inline-block;
  cursor: pointer;
}

.soical:hover .color,
.soical:hover .path {
  stroke: var(--background-container);
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.soical:hover rect {
  fill: var(--background-body);
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.col2div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--text-dark);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.col2div {
  position: relative;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s;
}

.col2div a {
  display: flex;
  gap: 10px;
}

.col2div {
  cursor: pointer;
  padding-bottom: 10px;
}

.col2div::after {
  background-color: var(--text-light);
}

.col2div img {
  max-width: 25px;
  max-height: 25px;
}

/* Responsive for footer */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 380px) {
  .footer-h1,
  .footer-h1 span {
    font-size: 32px;
  }

  .footer-h1 {
    flex-wrap: nowrap;
  }

  .footer-h1 span {
    display: inline;
  }
}

@media (hover: hover) and (pointer: fine) {
  .col2div:hover::after {
    width: 100%;
  }
}
