:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: #403f3dcc;
  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-body);
  padding: 0 40px;
  min-width: 380px;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}
