.top {
  padding: 0 22%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.about-h1 .accent {
  color: var(--text-accent);
  font-style: italic;
}

#categories-container {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.category-div {
  flex: 1;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-light);
  color: var(--text-dark);
  cursor: pointer;
  transition: all 200ms ease;
}

.category-div.selected {
  cursor: default;
  background-color: var(--background-container);
  color: var(--background-body);
}

.category-div img {
  height: 16px;
  width: 16px;
}

.img-div {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-light);
  border-radius: 100px;
}

.data {
  display: block;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 40px;
  max-width: 90%;
  justify-self: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 1.2rem;
  color: #665f55;
}

.loader::after {
  content: "";
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: 4px solid #665f55;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-fail-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.data .about-h1 {
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .top {
    padding: 0 10%;
  }

  .about-h1 {
    font-size: 3rem;
  }

  #categories-container {
    gap: 8px;
    flex-wrap: wrap;
  }
}

@media (max-width: 380px) {
  .top .about-h1 {
    font-size: 32px;
  }
}
